build/
bin/
gen/
out/
.gradle/
.kotlin/
.hotswap/

.idea/
*.iml
*.iws
*.ipr
/local.properties
/secrets.properties
.externalNativeBuild/
.cxx/
captures/
.navigation/

app/google-services.json

.DS_Store
*.log
*.tmp
*.bak
.firebase/

.fvm/
.pub-cache/
.dart_tool/
.hotswan/

# Arsenal de Agentes (Antigravity CLI)
.agents/
.antigravitycli/
/scripts/